services:
  postgres:
    container_name: fpm-postgres
    image: postgres:17-alpine
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_DB=${PG_DB}
    ports:
        - 5432:${PG_PORT}
    # volumes:
    #   - pgdata:/var/lib/postgresql/data
    networks:
      - custom

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: fpm-postgres-admin
    restart: always
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8888:80"
    depends_on:
      - postgres
    # volumes:
      # - pgadmin-data:/var/lib/pgadmin
    networks:
      - custom

  rabbitmq:
    container_name: fpm-rabbitmq
    image: rabbitmq:4-management-alpine
    hostname: rabbitmq
    env_file:
      - .env
    ports:
      - 5672:${RMQ_PORT}
      - 15672:${RMQ_ADMINISTRATION_PORT}
    environment:
      RABBITMQ_DEFAULT_USER: ${RMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RMQ_PASSWORD}
    # volumes:
      # - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - custom


  mailhog:
    container_name: fpm-mail-server
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - custom

  # web:
  #   container_name: fpm-web
  #   build: .
  #   command: "sh -c 'alembic upgrade head && python3 asgi.py'"
  #   restart: always
  #   env_file:
  #     - .env
  #   ports:
  #     - 8000:${PORT}
  #   depends_on:
  #     - postgres
  #     - rabbitmq
  #   networks:
  #     - custom

networks:
  custom:
    driver: bridge
