services:
  postgres:
    container_name: fpm-postgres
    image: postgres:17-alpine
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_DB=${PG_DB}
    ports:
        - ${PG_PORT}:5432
    # volumes:
    #   - pg-data:/var/lib/postgresql/data
    networks:
      - custom

  pgadmin:
    container_name: fpm-postgres-admin
    image: dpage/pgadmin4:latest
    restart: always
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - ${PGADMIN_PORT}:80
    depends_on:
      - postgres
    # volumes:
    #   - pgadmin-data:/var/lib/pgadmin
    networks:
      - custom

  rabbitmq:
    container_name: fpm-rabbitmq
    image: rabbitmq:4-management-alpine
    restart: always
    env_file:
      - .env
    ports:
      - ${RMQ_PORT}:5672
      - ${RMQ_ADMINISTRATION_PORT}:15672
    environment:
      RABBITMQ_DEFAULT_USER: ${RMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RMQ_PASSWORD}
    # volumes:
    #   - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - custom

  redis:
    container_name: fpm-redis
    image: redis:8-alpine
    restart: always
    env_file:
      - .env
    ports:
      - ${REDIS_PORT}:6379
    # volumes:
    #   - redis-data:/data
    networks:
      - custom

  mailhog:
    container_name: fpm-mail-server
    image: mailhog/mailhog
    restart: always
    env_file:
    - .env
    ports:
      - 8025:8025
      - ${EMAIL_PORT}:1025
    networks:
      - custom

  web:
    container_name: fpm-web
    build: .
    command: "sh -c 'alembic upgrade head && python3 asgi.py'"
    restart: always
    env_file:
      - .env
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - custom

# volumes:
#   pg-data:
#   pgadmin-data:
#   rabbitmq-data:
#   redis_data:

networks:
  custom:
    driver: bridge
